## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [27]:
pwd

'C:\\Users\\timmy\\tim\\World_Weather_Analysis\\Vacation_Search'

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.02,76,100,15.10,overcast clouds
1,1,Hamilton,US,39.1834,-84.5333,30.20,40,1,4.16,clear sky
2,2,Luderitz,NaN,-26.6481,15.1594,76.10,47,0,29.57,clear sky
3,3,Turinskaya Sloboda,RU,57.6232,64.3858,34.50,97,100,10.76,light rain
4,4,Chokurdakh,RU,70.6333,147.9167,-18.65,87,97,4.85,overcast clouds

In [29]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [31]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.02,76,100,15.10,overcast clouds
2,2,Luderitz,NaN,-26.6481,15.1594,76.10,47,0,29.57,clear sky
5,5,Bandarbeyla,SO,9.4942,50.8122,76.93,78,15,13.29,few clouds
6,6,Port Alfred,ZA,-33.5906,26.8910,75.00,89,18,3.00,few clouds
7,7,Viedma,AR,-40.8135,-62.9967,79.00,45,0,1.01,clear sky
14,14,Tarakan,ID,3.3000,117.6333,79.75,80,49,5.73,scattered clouds
15,15,Saint-Philippe,RE,-21.3585,55.7679,82.40,74,90,4.61,moderate rain
16,16,East London,ZA,-33.0153,27.9116,77.00,88,75,6.91,broken clouds
20,20,Grande Riviere Du Nord,HT,19.5833,-72.1833,82.29,58,41,3.98,scattered clouds
21,21,Cidreira,BR,-30.1811,-50.2056,75.94,62,56,10.40,broken clouds

In [32]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [33]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,82.02,76,100,15.10,overcast clouds
5,5,Bandarbeyla,SO,9.4942,50.8122,76.93,78,15,13.29,few clouds
6,6,Port Alfred,ZA,-33.5906,26.8910,75.00,89,18,3.00,few clouds
7,7,Viedma,AR,-40.8135,-62.9967,79.00,45,0,1.01,clear sky
14,14,Tarakan,ID,3.3000,117.6333,79.75,80,49,5.73,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
656,656,Chilca,PE,-12.5211,-76.7372,77.00,69,0,6.91,clear sky
657,657,San-Pedro,CI,4.7485,-6.6363,83.08,77,47,9.19,scattered clouds
659,659,Valenca,BR,-13.3703,-39.0731,89.76,50,98,7.85,overcast clouds
663,663,Maningrida,AU,-12.0667,134.2667,77.22,83,100,10.78,overcast clouds
669,669,Biankouma,CI,7.7391,-7.6138,91.38,29,79,2.80,broken clouds

In [34]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.02,overcast clouds,-0.6000,73.0833,
2,Luderitz,NaN,76.10,clear sky,-26.6481,15.1594,
5,Bandarbeyla,SO,76.93,few clouds,9.4942,50.8122,
6,Port Alfred,ZA,75.00,few clouds,-33.5906,26.8910,
7,Viedma,AR,79.00,clear sky,-40.8135,-62.9967,
14,Tarakan,ID,79.75,scattered clouds,3.3000,117.6333,
15,Saint-Philippe,RE,82.40,moderate rain,-21.3585,55.7679,
16,East London,ZA,77.00,broken clouds,-33.0153,27.9116,
20,Grande Riviere Du Nord,HT,82.29,scattered clouds,19.5833,-72.1833,
21,Cidreira,BR,75.94,broken clouds,-30.1811,-50.2056,

In [35]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
       
       

    # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
        
        # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found...skipping.")

hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,82.02,overcast clouds,-0.6000,73.0833,Scoop Guest House
2,Luderitz,NaN,76.10,clear sky,-26.6481,15.1594,LÜDERITZ NEST HOTEL
5,Bandarbeyla,SO,76.93,few clouds,9.4942,50.8122,JABIR HOTEL
6,Port Alfred,ZA,75.00,few clouds,-33.5906,26.8910,The Halyards Hotel
7,Viedma,AR,79.00,clear sky,-40.8135,-62.9967,Hotel Cristal
14,Tarakan,ID,79.75,scattered clouds,3.3000,117.6333,RedDoorz Syariah near Taman Berlabuh Tarakan
15,Saint-Philippe,RE,82.40,moderate rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
16,East London,ZA,77.00,broken clouds,-33.0153,27.9116,Tu Casa
20,Grande Riviere Du Nord,HT,82.29,scattered clouds,19.5833,-72.1833,La Belle Maison
21,Cidreira,BR,75.94,broken clouds,-30.1811,-50.2056,Hotel Castelo

In [36]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template ="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
"""



# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))